body {
    font-size: 20px;
    color: #333;
    font-weight: 300;
    background-color: #f8f6f0;
}

header {
    display: flex;
    padding: 20px 35px;
    justify-content: space-between;
    flex-wrap: wrap;
}

header a {
    padding-top: 17px;
}

.startdisplay {
    display: flex;
    flex-direction: column;
    align-items:center;
    flex-wrap: wrap;
}

h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    margin: 0px;
    font-size: 30px;
}

.startdisplay p{
    padding: 20px;
    text-align: center;
}

button {
    font-size: 22px;
    background-color: rgb(59, 0, 99);
    color: #fff;
    border: 0px;
    border-radius: 12px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover {
    background-color: rgb(118, 0, 197);
}

.quiz-display{
    display: flex;
    justify-content: center;
    width: 100%;
}

.quiz-container {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: left;
    margin-top: 40px;
    width: 45%;
}

#quiz{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    margin: 0px;
    font-size: 30px;
    text-align: left;
    padding-bottom: 50px;
}

#answer{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: left;
    margin-top: 40px;
    width: 100%;
    border-top: 1px solid;
}